@import "bootstrap/dist/css/bootstrap.min.css";

.card-produto {
	margin-top: 150px;
	width: 100%;
	border-radius: 20px;
	border: 5px solid var(--verde-amarelado);
	box-shadow: var(--sombra-principal);
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.color-container-details {
	padding: 15px;
	background-color: var(--verde-medio);
	border-radius: 15px;
	box-shadow: var(--sombra-principal);
}

.container-details {
	height: 100%;
}
.container-details h2 {
	margin: 15px 0;
}

.container-details p {
	margin-top: 15px;
	height: 50px;
}

.container-details .container-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
}

.container-details .container-total {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quantidade {
	background-color: var(--branco);
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 3px solid var(--verde-amarelado);
}

.quantidade,
.container-details .container-total div {
	font-size: 25px;
}

.container-details .container-total div {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 50px;
}
